//=-=-=-=-=-=-=-=--=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-
// ABOUT session styles
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---=-=-=-=-=--=--=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=

.about{

  @include flex(display, flex);
  @include flex(align-items, flex-start);

  //media queries
  @include medium{
    flex-direction:column;
    align-items: center;
  }
  @include small {
    margin:auto;
  }//media queries

  margin: 3%; 

  h1 {
    margin:5%;
  }

  p {
    margin-top: 20px;
    margin: 5%;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: justify;
  }

  img {
    transform: rotateY(180deg);
    width: 30%;
  }

  .about-wrap{
    width:65%;

    @include break(900px){
      width:90%;
    }

  }

  .skills {
    position:relative;
    width: 35%;

    @include break(900px){
      width:100%;
    }

    height:100vh;

    @include flex(display, flex);
    @include flex(justify-content, center);

  }

  .skills-box{
    display:none;
    border:1px solid $secondary-color;
    border-radius: 10px;
    height:auto; //or '80vh' have to test
    width: 32%;
    position: fixed;
    top:13%;

    @include break(900px){

      @include flex(align-self, flex-start);

      position:static;
      width:80%;
    }
    overflow:hidden;
  }

  .skills-title {
    padding:3%;
    font-size:1.2rem;
    color:white;
    background: $secondary-color;
    position: relative;

    &:after {
      position:absolute;
      top:0;
      left:0;
      z-index: 1;
      background-image:linear-gradient(to left, rgb(255, 209, 149), transparent);
      content:'';
      text-align: left;
      transform: scaleX(0);
      transform-origin: right;
      transition:transform 0.6s ease-out;
      width:100%;
      height:100%;
    }
    &:hover{
      &:after{
        transform: scaleX(1);
        transition: transform 0.6s ease-out;
        transform-origin:right;
      }
    }
    &:hover{
      font-weight: bold;
      cursor: pointer;
    }
  }

  .skills-content{
    max-height:450px;
    overflow: scroll;
    padding:2%;
    font-size:0.9rem;
    h3 {
      font-size: 1rem;
      font-weight: bold;
      margin:1%;
    }
    ul{
      margin:1%;
      // padding:2%;
    }
    li{
      margin:10px 0 10px;
      line-height: 1.3rem;
      span{
        color: $secondary-color;
        font-size: 0.8rem;
        font-style: italic;
      }
    }
    @include break(900px){
      max-height:1000px;
    }
  }
}
