//=-=-=-=-=-=-=-=--=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-
//      CONTACTS Section styles
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---=-=-=-=-=--=--=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=

.contact {
  // width:100vw;
  // height:100vh;

  margin:3%;
  @include flex(display, flex);

  @include break(1100px){
    @include flex(flex-direction, column);
    @include flex(justify-content, flex-start);
  }

  @include large {
    margin-left:0;
  }

  h1 {
    margin: $margin-lg-screens;
  }

  p{
    margin:$margin-lg-screens;
    font-size: 1.5rem;
  }

  .icons-container{
    // width: 100%;

    @include flex(display, flex);
    // @include flex(justify-content, space-between);
    // @include flex(align-self, center);

    margin:$margin-lg-screens;

    @include large {
      width: 100%;
      @include flex(justify-content, space-between);
    }

    a{
      margin-right: 15%;
      font-size:3rem;
      color: $secondary-color;
      &:hover{
        transform: scale(1.2);
        transition: all 0.2s;
      }

      @include large {
        margin-right: 10%;
      // padding: 3%;
      }

    }//a

  }//icons-container
  .info-wrap {
    width:50%;
    height: 100vh;
    @include break(1100px){
      height:auto;
      width: 100%;
    }
  }
}//.contacts
