.form-wrap {

  @include flex(display, flex);
  @include flex(flex-direction, column);
  @include flex(justify-content, space-between);
  @include flex(align-items, center);

  width: 45%;
  height: auto;
  margin:$margin-lg-screens;
  margin-bottom: $margin-lg-screens * 3;
  background:$secondary-color;
  border-radius: 10px;

  //media queries
  @include break(1100px){
    width:60%;
  }
  @include medium {
    width: 90%;
  }//media queries

  form {
      @include flex(display,flex);
      @include flex(flex-direction, column);
  }

  h3 {
    color:white;
    margin:2%;
    @include flex(align-self, flex-start);
  }

  .form-section {
    padding:2%;
    font-size: 0.9rem;
    color:white;
    input {
      font-size: 0.9rem;
      width:60%;
      height:20px;
      border:none;
      padding-left: 10px;
    }
    textarea {
      font-size: 0.9rem;
      width: 60%;
      height:auto;
      border:none;
      padding:10px;
    }
  }

  [type="submit"] {
    width:100px;
    margin:2%;
    font-size: 1rem;
    background: lighten($secondary-color, 20%);
    transition:background 0.2s linear;
    border: none;
    // @include flex(align-self, center);
    &:hover {
      cursor: pointer;
      color:$main_color;
      background:white;
      transition:background 0.2s linear;
    }
  }
}
