//=-=-=-=-=-=-=-=--=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-
//      PROJECTS section styles
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=---=-=-=-=-=--=--=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=
.projects {
  margin: 3%;
  h1{
    margin:$margin-lg-screens;
    margin-bottom: 50px;

    //media queries
    @include large{
      @include flex(align-self, flex-start);
      margin:6%;
      margin-top: 6%;
    }

    @include small {
      margin-top:0;
      width: 95%;
    }//media queries
  }
  .project-container{
    @include flex(display, flex);
    @include flex(align-items, flex-start);

    margin:$margin-lg-screens;
    padding-bottom: 40px;
    height: auto;
    border-bottom: 1px solid $secondary-color;

    &:last-child {
      border-bottom: 0px;
    }

    //media queries
    @include small {
      @include flex(flex-direction, column);
      &>a {
        @include flex(display, flex);
        @include flex(justify-content, center);
      }
    }

    @include large {
      @include flex(flex-direction, column);
      @include flex(justify-content, center);
      @include flex(align-items, center);
      margin-left: 0;
      &>a{
        @include flex(display, flex);
        @include flex(justify-content, center);
        @include flex(align-items, center);
      }
      width: 100%;
    }//media queries

    .project-description{

      @include flex(display, flex);
      @include flex(flex-direction, column);

      width: 90%;

      //media queries
      @include large {
        margin-top: 30px;
      }

      @include small {
        margin-left: 10px;
      }//media queries

      h2 {
        font-size: 1.3rem;
        margin-left: 3%;
        margin-bottom: 1%;
      }

      p {
        font-size: 1rem;
        margin:1% 3%;
        text-align: justify;
        a {
          color: $secondary-color;
        }
      }

      .show-more{
        width: 20%;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 6px;
        color: $secondary-color;
        &:hover{
          cursor: pointer;
        }
      }

      i {
        color:$secondary-color;
        font-size: 2rem;
      }

     section{
        margin:3%;
        p{
          margin:-20px 0 10px;
        }
        li{
          list-style: none;
          margin-top: 20px;
        }
      }
    }

    a {
      width:80%;
    }

    img{
      width: 90%;
      margin-top: 0;
      transition:transform 0.2s ease-in;
      &:hover{
        transform: scale(1.1);
        transition: transform 0.2s ease-in;
      }
    }

  }
}
